*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgb(12, 195, 98), rgb(12, 87, 110));
    box-shadow: 1px 1px 10px rgb(172, 172, 172)
}
nav a{
    display: block;
    font-size: 20px;
    font-family: tahoma;
    text-decoration-line: none;
    color: #fff;
    border-bottom: none;
}
nav a:hover{
    border-bottom: 3px solid #fff;
}


/* CONTEDOR PORTADA */
#container_port{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}
#container_port > div{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.5s;
}
#container_port > div h1{
    width: 100%;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: tahoma;
    text-align: center;
    color: rgb(12, 195, 98);
    position: relative;
    right: 200%;
    transition: 1.3s;
}
#container_port > div > #cont-text{
    width: 100%;
    position: relative;
    right: -300%;
    transition: 1.3s;
    transition-delay: 0.5;
}
#container_port > div > #cont-text p{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: tahoma;
}



#container_port:hover > div > h1{
    right: 0%;
}
#container_port:hover > div > #cont-text{
    right: 0%;
}